<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
    <link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style/mainstyle.css">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">
</head>
<style>
    body{
        font-family: 'Titillium Web', sans-serif;
    }
</style>
<body>
<header>
    <img id="banner" src="../assets/common-banner.png">
</header>
<h1>Manager Section</h1>
<div class="row">
    <div class="offset-lg-2 offset-md-2">
        <a href="../index.html"><button class="btn btn-warning" value="Back<-">Back <-</button></a>
    </div>
</div>

<script type="application/javascript" src="../js/jquery-3.3.1.min.js" rel="script"></script>
<script src="../js/bootstrap.min.js" rel="script"></script>
<script src="../js/admin.js" rel="script"></script>
</body>
</html>