h1{
    margin: 0;
}
.deliver{

    height: 500px;
    width: 100%;
    left: 0;
}
.one{
    position: absolute;
    left: 0;
}
.two{
    position: absolute;
    left: 35%;
}
.three{
    position: absolute;
    right: 0;
}
.four{
    position: absolute;
    left:0;
}
.five{
    position: absolute;
    left:35%;
}
.six{
    position: absolute;
    right: 0;
}
.navideliver {
    margin: 0;
    height: 200px;
    width: 100%;

    right: 0;
    margin-top: -170px;

}
div.maindeliver div.navideliver ul li{
    color: black;
    list-style-type: none;
    display: inline;
    padding: 120px;
}
.contend{
    position: absolute;
    margin-top: -150px;
    height: 600px;
    width: 100%;
    background-color: orange;

}
.form{
    position: absolute;
    margin-top: 300px;
}
a{
    text-decoration: none;
    color: black;
}