<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUSTOMER FORM</title>
    <link type="text/css" rel="stylesheet" href="../css.pos/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css.pos/CustomerForm.css">
    <link rel="icon" type="img/png" href="../images/58482ec0cef1014c0b5e4a70.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sunflower:300|Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<style>
    @import url('https://fonts.googleapis.com/css?family=Sunflower:300|Ubuntu');

    .content{
        font-family: 'Roboto', sans-serif;

    }
    form{
        font-family: 'Ubuntu', sans-serif;

    }
    .navigation{
        font-family: 'Ubuntu', sans-serif;
        font-family: 'Sunflower', sans-serif;
    }
</style>
</head>
<body>
<div class="header">
    <i class="fab fa-accusoft" style="font-size: 100px"></i>

    <div class="nav">
        <ul>
            <li><a href="../index.html" target="_self">Home</a></li>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Courses</li>
        </ul>
    </div>
</div>
<div class="navigation">

    <p>CUSTOMER</p>
    <i class="fas fa-users" style="font-size: 50px"></i>
    <P>ITEMS</P>
    <i class="fab fa-app-store-ios" style="font-size: 50px"></i>
    <p>ORDER</p>
    <i class="fab fa-amazon-pay" style="font-size: 50px"></i>
    <P>QUANTITY</P>
    <i class="fas fa-archive" style="font-size: 50px"></i>
    <P>REPORTS</P>
    <i class="far fa-arrow-alt-circle-down" style="font-size: 50px"></i>
</div>

<div class="content" >
    </form>
    <h1>Customer Form</h1>
    <pre>
	<form method="post">
		<label>Customer Name :</label>              <input type="text" name="CusName">

		<label>Customer ID :</label>                     <input type="text" name="CusID">

		<label>Customer Address :</label>          <input type="text" name="CusAdd">

		<label>Customer Salary :</label>              <input type="text" name="CusSalary">

		<label>Quantity:</label>                             <input type="text" name="quantity">






		<input type="button" value="Save Customer">

		<input type="submit" value="Save Details">

		<button type="submit">SUBMIT</button>

		<input type="reset" value="Clear">

    </form>
        </pre>

        <!--<div class="new" align="center">-->
                <!--<div class="new1"></div>-->
            <!--</div>-->
    <a href="../index.html" target="_self">MAIN MENU</a>
    <a href="../views/CustomerOrder.html" target="_self">ORDER ITEMS</a>
    <img class="pic1" src="../images/03-light-Research-Shows-That-Men-and-Women-Grocery-Shop-Differently.-Do-You-Agree_674560456-Kwangmoozaa-760x506%20-%20Copy.jpg" width="600px" align="center">
    <img class="pic1"src="../images/grocery-items.jpg" width="400px">
</div>

<div class="footer">
    <p class="pfooter" align="center">copyright@2018 CS20 Coperatons SriLanka     All rights reserved</p>
    <i class="fab fa-facebook-square" style="font-size: 50px"></i>
    <i class="fab fa-twitter-square" style="font-size: 50px"></i>
</div>











</body>
</html>