.grid{
    margin-left: 15vw;
}
.ijse{
    position: absolute;
    height: 150px;
    width:150px;
    border-radius: 75px;
    margin-left: 28vw;
    margin-top: 3vw;
    z-index: 500;
}

#cha1{
    position: absolute;
    margin-left:-18vw;
    margin-top: -9vw;
    z-index: -20;

}
#cha2{
    margin-left: 11vw;
    margin-top: -17vw;
    z-index: -20;
}
#cha3{
    margin-left: -15vw;
    margin-top: -6vw;
    z-index: -20;
}
#cha4{
    margin-left: 12vw ;
    margin-top: -6vw ;
    z-index: -20;
}
#cha5{
    margin-left:-5vw;
    z-index: -30 ;
}
#cha6{
    margin-left: 8vw;
    z-index: -20;
}
.chain{
    position: absolute;
}
.box1{

    height: 100px;
    width: 100px;
    border-radius: 50px;
    position: absolute;
    border: 3px solid #e8d9d9;
    background: rgb(212,207,215);
    background: linear-gradient(90deg, rgba(212,207,215,1) 0%, rgba(209,197,197,1) 48%, rgba(204,201,196,1) 100%);
    z-index: -20;
}
#box1{
    margin-left: 2vw;
    background-image: url("../img/grey/1.png");
    background-repeat: no-repeat;
    background-position: center center;

}
#box2{
    margin-left: 7vw;
    margin-top: 11vw;
    background-image: url("../img/grey/2.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#box3{
    margin-left: 19vw;
    margin-top: 24vw;
    background-image: url("../img/grey/3.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#box4{
    margin-left: 37vw;
    margin-top: 24vw;
    background-image: url("../img/grey/4.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#box5{
    margin-left: 54vw;
    margin-top: 11vw;
    background-image: url("../img/grey/5.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#box6{
    margin-left: 58vw ;
    background-image: url("../img/grey/6.png");
    background-repeat: no-repeat;
    background-position: center center;
}
#img{
    margin-left: -1.5vw;
}