<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUSTOMER ORDER</title>
    <link type="text/css" rel="stylesheet" href="../css.pos/normalize.css">
    <link type="text/css" rel="stylesheet" href="../css.pos/CustomerOrder.css">
    <link rel="icon" type="img/png" href="../images/58482ec0cef1014c0b5e4a70.png">

    <style>
        .items{
            font-family: 'M PLUS 1p', sans-serif;

        }
    </style>
</head>
<body>
<div class="header">
    <img src="../images/consumption_icon_500px.png" width="200px">
    <img class="front" src="../images/grocery-example-1-thumb.jpg" width=500px">
    <div class="nav">
        <ul>
            <li>Home</li>
            <li>About Us</li>
            <li>Contact Us</li>
            <li>Courses</li>
        </ul>
    </div>
</div>
<div class="maincontend">
    <div class="ourproducts" style="font-size: 30px">
        <p class="items">Our Products</p>
        <img src="../images/vegetables.png" width="150px">
        <img src="../images/fruits.jpg" width="150px">
        <img src="../images/grains.jpg" width="150px">
        <img src="../images/grocery.jpg" width="150px">
        <img src="../images/bread.jpg" width="150px">
        <img src="../images/genetic%20food.jpg" width="150px">


            <table border="1" width="200px" style="font-size: 20px">
                <thead>
                <tr>
                    <th>ITEM</th>
                    <th>CODE</th>
                    <th>UNIT PRICE(250g)</th>
                    <th>ITEM</th>
                    <th>CODE</th>
                    <th>UNIT PRICE(one piece)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Carrot</th>
                    <th>C0010</th>
                    <th>LKR 50.00</th>
                    <th>Apple</th>
                    <th>C0001</th>
                    <th>LKR 60.00</th>
                </tr>
                <tr>
                    <th>Cabbage</th>
                    <th>C0011</th>
                    <th>LKR 75.00</th>
                    <th>Carrot</th>
                    <th>C0010</th>
                    <th>LKR 50.00</th>
                </tr>
                <tr>
                    <th>Beans</th>
                    <th>C0034</th>
                    <th>LKR 45.00</th>
                    <th>Carrot</th>
                    <th>C0010</th>
                    <th>LKR 50.00</th>
                </tr>
                <tr>
                    <th>Tomatos</th>
                    <th>C0056</th>
                    <th>LKR 67.50</th>
                    <th>Carrot</th>
                    <th>C0010</th>
                    <th>LKR 50.00</th>
                </tr>
                <tr>
                    <th>Potatos</th>
                    <th>C0022</th>
                    <th>LKR 80.00</th>
                    <th>Carrot</th>
                    <th>C0010</th>
                    <th>LKR 50.00</th>
                </tr>
                <tr>
                    <th>Cucumber</th>
                    <th>C0033</th>
                    <th>LKR 56.00</th>
                    <th>Carrot</th>
                    <th>C0010</th>
                    <th>LKR 50.00</th>
                </tr>
                </tbody>
            </table>
        <input type="submit">
        <input type="button" value="ADD">
        <input type="button" value="DELETE">
        <input type="button" value="SAVE">
        <table border="2">
        <thead>
        <tr>
            <th>ITEM</th>
            <th>CODE</th>
            <th>UNIT PRICE(250g)</th>
            <th>ITEM</th>
            <th>CODE</th>
            <th>UNIT PRICE(one piece)</th>
        </tr>
        </thead>
            <tbody>
        <tr>
            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th>0</th>
            <th></th>
        </tr>
            </tbody>
        </table>
    </div>
<div class="navigation">
    <img src="../images/Citycons_bag-512%20-%20Copy.png" width="100px" href="index.html">
    <a href="../views/CustomerForm.html" target="_blank">CUSTOMER FORM</a>
    <img src="../images/Buy_Online-512.png" width="100px" align="center">
    <a href="../views/CustomerOrder.html" target="_blank">CUSTOMER ORDER</a>
    <img src="../images/Shopping_icons_1_Converted-06-512.png" width="100px" align="center">
    <a href="../views/Delivery.html" target="_blank">DELIVERY </a>
    <img src="../images/58482ec0cef1014c0b5e4a70.png" width="100px" align="center">
    <a href="../views/CustomerForm.html" target="_blank">ABOUT US</a>
</div>

</div>
<div class="footer"></div>

</body>
</html>